@charset "UTF-8";

.text {
  letter-spacing: 0.08em;
  line-height: 1.41;
  color: #616161;
}

.title {
  font-weight: 700;
  line-height: 1.25;
  color: #000;
}

@supports (font-size: clamp( 2rem , 1.6870925684rem  +  1.5645371578vw , 2.75rem )) {
  .title {
    font-size: clamp( 2rem , 1.6870925684rem  +  1.5645371578vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.6870925684rem  +  1.5645371578vw , 2.75rem )) {
  .title {
    font-size: calc(2rem + 0.75 * (100vw - 20rem) / 47.9375);
  }
}

.title .r {
  color: #ec5863;
}

.title .b {
  color: #587eec;
}

.logo {
  z-index: 5;
}

.logo__img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.logo__img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.btn {
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  font-family: "Raleway";
  letter-spacing: 0.14em;
  font-size: 10px;
  line-height: 1;
  color: #fcfdfe;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 14px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn_blue {
  background-color: #587eec;
}

.btn_blue:hover {
  background-color: #194cde;
}

.btn_red {
  background-color: #ec5863;
}

.btn_red:hover {
  background-color: #de1928;
}

.btn:hover {
  color: gold;
}

.icon-menu {
  display: none;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  background-color: #fafbfd;
  color: #616161;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 66.0625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

.header__container {
  min-height: 114px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr minmax(254px, auto);
  grid-template-columns: auto 1fr minmax(254px, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}

.menu-open .header__nav {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header__button {
  -ms-grid-column-align: end;
      justify-self: end;
  z-index: 5;
}

.header .menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.625rem , -1.9102112676rem  +  5.2816901408vw , 1.5625rem )) {
  .header .menu-header {
    gap: clamp( 0.625rem , -1.9102112676rem  +  5.2816901408vw , 1.5625rem );
  }
}

@supports not (gap: clamp( 0.625rem , -1.9102112676rem  +  5.2816901408vw , 1.5625rem )) {
  .header .menu-header {
    gap: calc(0.625rem + 0.9375 * (100vw - 48rem) / 17.75);
  }
}

.header .menu-header__item {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .menu-header__link {
  letter-spacing: 0.14em;
  color: #000;
  font-size: 10px;
  line-height: 1.2;
  font-family: "Raleway";
  font-weight: 700;
  -webkit-transition: font-size, color, 0.2s ease 0s;
  -o-transition: font-size, color, 0.2s ease 0s;
  transition: font-size, color, 0.2s ease 0s;
  padding: 15px;
  display: block;
  white-space: nowrap;
}

.hero {
  position: relative;
}

@supports (padding-top: clamp( 5rem , -6.7894736842rem  +  24.5614035088vw , 9.375rem )) {
  .hero {
    padding-top: clamp( 5rem , -6.7894736842rem  +  24.5614035088vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 5rem , -6.7894736842rem  +  24.5614035088vw , 9.375rem )) {
  .hero {
    padding-top: calc(5rem + 4.375 * (100vw - 48rem) / 17.8125);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.9106095176rem  +  3.259452412vw , 3.125rem )) {
  .hero {
    padding-bottom: clamp( 1.5625rem , 0.9106095176rem  +  3.259452412vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.9106095176rem  +  3.259452412vw , 3.125rem )) {
  .hero {
    padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 47.9375);
  }
}

.hero::after {
  content: "";
  position: absolute;
  right: 0;
  top: -114px;
  width: 295.29px;
  height: calc(100% + 114px);
  background-color: #ec5863;
  border-radius: 30px 0px 0px 30px;
  z-index: -1;
}

.hero__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(320px, 420px) 1fr;
  grid-template-columns: minmax(320px, 420px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (margin-bottom: clamp( 2.8125rem , 0.0745599739rem  +  13.6897001304vw , 9.375rem )) {
  .hero__content {
    margin-bottom: clamp( 2.8125rem , 0.0745599739rem  +  13.6897001304vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 2.8125rem , 0.0745599739rem  +  13.6897001304vw , 9.375rem )) {
  .hero__content {
    margin-bottom: calc(2.8125rem + 6.5625 * (100vw - 20rem) / 47.9375);
  }
}

.hero__title {
  margin-bottom: 12px;
}

.hero__text {
  margin-bottom: 24px;
}

.hero__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__link span:nth-child(1) {
  font-size: 13px;
  line-height: 126%;
  color: #b0b0b0;
  text-transform: capitalize;
  letter-spacing: 0.08em;
}

.hero__link span:nth-child(2) {
  font-weight: 400;
  font-size: 9px;
  line-height: 126%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  letter-spacing: 0.165em;
  text-transform: uppercase;
}

.hero__link svg {
  -webkit-transition: stroke 0.5s ease 0s;
  -o-transition: stroke 0.5s ease 0s;
  transition: stroke 0.5s ease 0s;
  stroke: #587eec;
}

.hero__box {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
}

.hero__box span {
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

@supports (padding-top: clamp( 2.5rem , 1.4569752282rem  +  5.2151238592vw , 5rem )) {
  .stay {
    padding-top: clamp( 2.5rem , 1.4569752282rem  +  5.2151238592vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.4569752282rem  +  5.2151238592vw , 5rem )) {
  .stay {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.9375);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4569752282rem  +  5.2151238592vw , 5rem )) {
  .stay {
    padding-bottom: clamp( 2.5rem , 1.4569752282rem  +  5.2151238592vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4569752282rem  +  5.2151238592vw , 5rem )) {
  .stay {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.9375);
  }
}

.stay__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 338px) minmax(auto, 379px);
  grid-template-columns: minmax(auto, 338px) minmax(auto, 379px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (gap: clamp( 3.125rem , -13.4839965398rem  +  34.6020761246vw , 9.375rem )) {
  .stay__container {
    gap: clamp( 3.125rem , -13.4839965398rem  +  34.6020761246vw , 9.375rem );
  }
}

@supports not (gap: clamp( 3.125rem , -13.4839965398rem  +  34.6020761246vw , 9.375rem )) {
  .stay__container {
    gap: calc(3.125rem + 6.25 * (100vw - 48rem) / 18.0625);
  }
}

.stay__img img {
  max-width: 100%;
}

.stay__info {
  margin-left: 48px;
  -ms-grid-column-align: start;
      justify-self: start;
}

.stay__title {
  margin-bottom: 12px;
}

.stay__text {
  margin-bottom: 24px;
}

.talk__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 655px;
  padding: 28px 80px;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

@supports (margin-bottom: clamp( 2.5rem , -12.4480968858rem  +  31.1418685121vw , 8.125rem )) {
  .talk__heading {
    margin-bottom: clamp( 2.5rem , -12.4480968858rem  +  31.1418685121vw , 8.125rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , -12.4480968858rem  +  31.1418685121vw , 8.125rem )) {
  .talk__heading {
    margin-bottom: calc(2.5rem + 5.625 * (100vw - 48rem) / 18.0625);
  }
}

.talk__heading-decor {
  position: absolute;
  z-index: -1;
  border-radius: 30px;
  background-color: #ec5863;
}

.talk__heading-decor:nth-child(1) {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
  left: -31px;
  bottom: -31px;
}

.talk__heading-decor:nth-child(2) {
  top: -51px;
  left: 209px;
  width: 96.96px;
  height: 96.96px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
}

.talk__heading-decor:nth-child(3) {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -60px;
  top: 0;
  width: 127.47px;
  height: 127.47px;
}

.talk__item {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
}

.talk__num {
  letter-spacing: 0.14em;
  color: #ec5863;
  font-size: 36px;
  line-height: 1.19;
}

.talk__words {
  letter-spacing: 0.37em;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.18;
}

.talk__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
  padding-left: 40px;
  grid-gap: 10px;
}

.talk__info {
  max-width: 395px;
}

.talk__title {
  margin-bottom: 12px;
}

.talk__text {
  margin-bottom: 24px;
}

.talk__link {
  position: relative;
}

.talk__link svg {
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #587eec;
}

.healthcare {
  background-color: #fff;
}

@supports (padding-top: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem )) {
  .healthcare {
    padding-top: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem )) {
  .healthcare {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.9375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem )) {
  .healthcare {
    padding-bottom: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem )) {
  .healthcare {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.9375);
  }
}

.healthcare__title {
  text-align: center;
  margin-bottom: 14px;
}

.healthcare__text {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@supports (margin-bottom: clamp( 2.5rem , 2.3696219035rem  +  0.6518904824vw , 2.8125rem )) {
  .healthcare__text {
    margin-bottom: clamp( 2.5rem , 2.3696219035rem  +  0.6518904824vw , 2.8125rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.3696219035rem  +  0.6518904824vw , 2.8125rem )) {
  .healthcare__text {
    margin-bottom: calc(2.5rem + 0.3125 * (100vw - 20rem) / 47.9375);
  }
}

.healthcare__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 278px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 15px;
  justify-items: center;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.healthcare__decor {
  position: absolute;
  background-color: #ec5863;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  z-index: -1;
}

.healthcare__decor:nth-child(1) {
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  left: -26px;
  bottom: -45px;
}

.healthcare__decor:nth-child(2) {
  width: 96.96px;
  height: 96.96px;
  top: 31px;
  left: 235px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
}

.healthcare__decor:nth-child(3) {
  width: 127.47px;
  height: 127.47px;
  bottom: -47px;
  right: 271px;
}

.healthcare__decor:nth-child(4) {
  top: -36px;
  right: -35px;
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.healthcare__item {
  padding: 17.82px 36.65px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  background-color: #fff;
}

.healthcare__img {
  margin-bottom: 58px;
}

.healthcare__heading {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  color: #000;
  letter-spacing: 0.08em;
}

@supports (padding-top: clamp( 1.5625rem , 1.1713657106rem  +  1.9556714472vw , 2.5rem )) {
  .footer {
    padding-top: clamp( 1.5625rem , 1.1713657106rem  +  1.9556714472vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.5625rem , 1.1713657106rem  +  1.9556714472vw , 2.5rem )) {
  .footer {
    padding-top: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 47.9375);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.1713657106rem  +  1.9556714472vw , 2.5rem )) {
  .footer {
    padding-bottom: clamp( 1.5625rem , 1.1713657106rem  +  1.9556714472vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.1713657106rem  +  1.9556714472vw , 2.5rem )) {
  .footer {
    padding-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 47.9375);
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 0.625rem , -0.5744784876rem  +  5.9973924381vw , 3.5rem )) {
  .footer__container {
    gap: clamp( 0.625rem , -0.5744784876rem  +  5.9973924381vw , 3.5rem );
  }
}

@supports not (gap: clamp( 0.625rem , -0.5744784876rem  +  5.9973924381vw , 3.5rem )) {
  .footer__container {
    gap: calc(0.625rem + 2.875 * (100vw - 20rem) / 47.9375);
  }
}

.footer__link {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer__link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 48em) {
  .header .menu-header {
    gap: inherit;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    min-height: 80px;
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }

  .healthcare__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 56.25em) {
  .hero__content {
    -ms-grid-columns: minmax(auto, 1fr);
    grid-template-columns: minmax(auto, 1fr);
    justify-items: center;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.625rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 90px 15px 30px 15px;
    background-color: #ec5863;
    -webkit-transform: translate(-200%, 0px);
        -ms-transform: translate(-200%, 0px);
            transform: translate(-200%, 0px);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    overflow: auto;
  }

  .header__nav::before {
    content: "";
    position: absolute;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    -webkit-transform: translate(-200%, 0px);
        -ms-transform: translate(-200%, 0px);
            transform: translate(-200%, 0px);
  }

  .menu-open .header__nav::before {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
  }

  .header__button {
    margin: 0 auto;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .header .menu-header__item {
    width: 100%;
    text-align: center;
    -webkit-transform: translate(-200%, 0px);
        -ms-transform: translate(-200%, 0px);
            transform: translate(-200%, 0px);
  }

  .menu-open .header .menu-header__item {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .header .menu-header__item:nth-child(1) {
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }

  .header .menu-header__item:nth-child(2) {
    -webkit-transition-delay: 0.6s;
         -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }

  .header .menu-header__item:nth-child(3) {
    -webkit-transition-delay: 0.7s;
         -o-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }

  .header .menu-header__item:nth-child(4) {
    -webkit-transition-delay: 0.8s;
         -o-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }

  .header .menu-header__link {
    padding: 40px;
    font-size: 24px;
    color: #fff;
  }

  .hero::after {
    top: 0;
    height: calc(100% + 40px);
    display: none;
  }

  .hero__img img {
    max-width: 100%;
  }

  .stay__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .stay__info {
    text-align: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .talk__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 25px;
  }

  .talk__link img {
    max-width: 100%;
  }

  .healthcare__decor {
    display: none;
  }
}

@media (max-width: 35.49875em) {
  .hero__content {
    text-align: center;
  }

  .hero__img {
    display: none;
  }

  .hero__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .talk__heading {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    justify-items: center;
    grid-gap: 30px;
  }

  .talk__heading-decor {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }
}

@media (any-hover: hover) {
  .header .menu-header__link:hover {
    -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
            transform: rotate(-360deg);
    text-decoration: underline;
    color: #b01420;
  }

  .hero__link:hover svg {
    stroke: #ec5863;
  }

  .hero__link:hover span {
    color: #ec5863;
  }

  .talk__link:hover svg {
    fill: #ec5863;
  }
}